.App {
  font-family: sans-serif;
}

.Card-poster {
  height: 340px;
  width: 340px;
  object-fit:contain;

}

.Card-name {
  font-size: 24px;
}

.Card-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Card {
  width: 340px;
  color: white;
  background-color: rgb(14, 3, 1);;
  border: 1px solid ;
  box-shadow: 0 10px 85px 0 rgba(0, 0, 0, 0.2),
    0 16px 40px 0 rgba(58, 166, 255, 0.19);
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}


.counter-container{
  display: flex;
  gap:10px
}

.counter-container>button{
  font-size: 1.2rem;
}

.header {
  display: flex;
  justify-content: center;
  background: rgb(243, 52, 4);
  opacity: 0.7;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
}

.header img {
  height: 2rem;
  width: auto;
}

.container {
  padding: 1rem;
  width: stretch;
  height: auto;
  background: rgb(29, 73, 90);
  opacity: 0.7;
}

.add-movie-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit:hover {
  cursor:pointer;
  color: #000;
}

.input-text {
  border-radius: 7px;
  height: 3rem;
  width: 50%;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  margin: auto;
}

input[type=button]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

/* .Card {
  justify-content: center;
  justify-items: center;
  border: 2px solid rgb(131, 129, 129);
  padding: 10px;
  width: 20rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  
}

.Card-poster {
  justify-content: center;
  height: 10rem;
  width: auto;
  object-fit: cover;
} */